.display{
  height: 150px;
  width: 400px;
  background-color:#CCE8D2;
  color: black;
  font-family: 'Orbitron', sans-serif;

  font-size: 2rem;
  position: relative;
  left:70px;
  top:60px;

}
.btn{
  height: 40px;
  width: 60px;
font-size: 1.5rem;
font-weight: bold;
margin-left: 10px;
margin-top: 10px;
background-color: white;
  border-radius: 10%;
}
.button{

  width: 400px;
  position: relative;
  left: 70px;
  padding-left: 10px;
  top: 50px;

}
.calculator{
  height: 800px;
  width: 600px;
  background-color: #ECEEF1;
  position: relative;
  left: 350px;
  border-radius: 5%;
  box-shadow: 10px 10px grey;

border: solid 10px #676674 ;
}
.calculator-name{
  font-size: 2rem;
position: relative;
left: 50px;
top: 60px;
}
.solarpanel{
  height: 60px;
  width: 100px;
  background-color: #40231D;
  position: relative;
  left: 450px;
top: 30px;
}



.blue-button1{
  height: 45px;
  width: 50px;
  background: #757899;
position: relative;
left: 40px;
top: 90px;
border-radius: 45%
}
.blue-button2{
  height: 45px;
  width: 50px;
  background: #757899;
position: relative;
left: 120px;
top: 100px;
border-radius: 45%
}
.blue-button3{
  height: 80px;
  width: 80px;
  background: #757899;
position: relative;
left: 230px;
top: 60px;
border-radius: 40%
}
.blue-button4{
  height: 45px;
  width: 50px;
  background: #757899;
position: relative;
left: 360px;
bottom:24px;
border-radius: 45%
}
.blue-button5{
  height: 45px;
  width: 50px;
  background: #757899;
position: relative;
left: 450px;
bottom:120px;
border-radius: 45%
}
